body{
    /* background-color: #ECEBF7 !important; */
    background-color: #d4d3dd !important;
    margin:0;
    font-family: "Jost", sans-serif  !important;
    font-optical-sizing: auto;
}

.work-sans-navbar {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9rem;
  }

#navbarNavAltMarkup{
    width: 100%;
    justify-content: center;
}
.navbar-nav{
    gap: 20px;
}
.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 5vh;
}

.profile-container img{
    object-fit: contain;
    border-radius: 100%;
    width: 15vw;
    height: auto;
    border: gray solid 5px;
}

.presentacion h5{
    width: 35vw;
    text-align: center;
}
.disponible{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px;
}
.disponible h6{
    margin-bottom: 0;
}
.estado{
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border: #1b9304 solid 2px;
    background-color: #ceebc8;
    color: #1b9304;
    font-weight:500;
    font-size: 0.8rem;
}

#cv-link{
    text-decoration: none;
}

.btn-contacto{
    border-radius: 20px !important;
}

main{
    padding-top: 7vh !important;
    padding-right: 20vw !important;
    padding-left: 20vw !important;
    margin: 0;
}
main h3, .card h5{
    font-weight: 650;
    font-family: "Work Sans", sans-serif;
}

.card{
    background-color: #d4d3dd !important;
    border: none !important;
}



.skills-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.skills-img img{
    width: auto;
    height: 12vh;
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto !important;
    gap: 15px;
}

#about-me{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 columnas en total */
    grid-template-rows: auto auto; /* Filas automáticas en altura */
    gap: 20px; /* Espaciado entre los elementos */
    margin: 0;
}

#titulo-about {
    grid-column: 1 / -1; /* El título ocupa todo el ancho de la grid */
    text-align: center; /* Centrar el título */
  }
  
  .about-1 {
    grid-column: span 7; /* Ocupa 7 de las 12 columnas */
  }
  
  .about-2 {
    grid-column: span 5; /* Ocupa las 5 columnas restantes */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-2 img{
    width: auto;
    height: 40vh;
    object-fit: contain;
    border-radius: 20px;
  }