body{
    background-color: #ECEBF7 !important;
    margin:0;
}
.work-sans-navbar {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9rem;
  }

#navbarNavAltMarkup{
    width: 100%;
    justify-content: center;
}
.navbar-nav{
    gap: 20px;
}
.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 5vh;
}

.profile-container img{
    object-fit: contain;
    border-radius: 100%;
    width: 15vw;
    height: auto;
    border: gray solid 5px;
}

.presentacion h5{
    width: 35vw;
    text-align: center;
}
.disponible{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px;
}
.disponible h6{
    margin-bottom: 0;
}
.estado{
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border: #1b9304 solid 2px;
    background-color: #ceebc8;
    color: #1b9304;
    font-weight:500;
    font-size: 0.8rem;
}
main{
    padding-right: 20vw !important;
    padding-left: 20vw !important;
    margin: 0;
}

#cv-link{
    text-decoration: none;
}

.btn-contacto{
    border-radius: 20px !important;
}